<link rel="stylesheet" href="app.component.css">
<body>
<header class="header">
  <hr>
  <h1 class="header"> Mis apuntes </h1>
  <img class="logo" src="../assets/logo-apuntes.png" alt="logo">
  <nav>
    <ul class="a-style">
      <a href="">Historía</a>
      <a href="">HTML</a>
      <a href="">CSS</a>
      <a href="">Javascript</a>
      <a href="">Terminal</a>
      <a href="">Markdown</a>
      <a href="">Git-Github</a>
      <a href="">Nodejs</a>
      <a href="">NVM</a>
    </ul>
  </nav>
  <hr>
</header>
</body>
