<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Mis apuntes Markdown">
  <link rel="stylesheet" href="markdown.component.css">
  <link rel="shortcut icon" href="./logo-markdown.png" type="image/png">
  <title>Markdown</title>
</head>
<body>
<header class="header-container">
  <img class="img-logo" src="./logo-markdown.png" alt="logo-markdown">
  <h1 class="h1-titulo">Markdown</h1>
    <nav>
    <ul class="menu-principal">
      <li><a href="">Encabezado</a></li>
      <li><a href="">Formato</a></li>
      <li><a href="">Enlaces</a></li>
      <li><a href="">Listas</a></li>
      <li><a href="">Cita bibliografica</a></li>
      <li><a href="">Tabla</a></li>
      <li><a href="">Ejemplo de código</a></li>
    </ul>
  </nav>
<!--  <nav>-->
<!--    <ul class="menu-icons">-->
<!--      <li><a href=""><img src="./icon-facebook.png" alt="facebook"></a></li>-->
<!--      <li><a href=""><img src="./icon-instagram.png" alt="instagram"></a></li>-->
<!--      <li><a href=""><img src="./icon-youtube.png" alt="youtube"></a></li>-->
<!--    </ul>-->
<!--  </nav>-->
</header>
<main class="main-container">
</main>
<footer class="footer-container">
    <nav>
      <a href=""><img src="./icon-facebook.png"></a>
      <a href=""><img src="./icon-instagram.png"></a>
      <a href=""><img src="./icon-youtube.png"></a>
    </nav>
  </footer>
</body>
</html>
